.ButtonBox {
    position: absolute;
    background-color:  #d27157;
    color: black;
    width: 580px;
    height: 200px;
    margin-left: 80px;
    margin-top: 20px;
    border-radius: 10px;
    box-shadow: black 0px 0px 20px -10px;
    align-items: center;
    justify-content: center;
    z-index: 1;
    display: flex;
}

.buttons {
    flex-direction: row;
    text-decoration: none;
    border: none;
    width: 125px;
    font-size: small;
    background: linear-gradient(to top, rgb(233, 233, 233), rgb(255, 255, 255));
    justify-content: center;
    align-items: center;
    padding: 20px;
    margin: 15px;
    margin-left: 44px;
    border-radius: 5px;
    font-weight: bolder;
    color: #1a2639;
}

.buttons:hover {
    transform: translateY(-7px);
    transform: translatex(-7px);
    transition: 1s;
    cursor: pointer;
    box-shadow: 10px 10px 10px -12px;
    background: linear-gradient(to top, rgb(222, 222, 222), rgb(255, 255, 255));
}

