.ButtonBox {
    position: absolute;
    background-color:  #d27157;
    color: black;
    width: 620px;
    height: 190px;
    margin-left: 65px;
    margin-top: 20px;
    border-radius: 10px;
    box-shadow: black 0px 0px 20px -10px;
    align-items: center;
    justify-content: center;
    z-index: 1;
    display: flex;
    padding-left: 15px;
    padding-bottom: 5px;
}

.buttons {
    flex-direction: row;
    text-decoration: none;
    border: none;
    height: 70px;
    width: 195px;
    font-size: small;
    background-color: white;
    justify-content: center;
    align-items: center;
    padding: 20px;
    margin: 5px;
    margin-left: -1px;
    margin-bottom: -2px;
    font-weight: bolder;
    color: #1a2639;
    align-items: center;
    justify-content: center;
}

.buttons:hover {
    transform: translateY(-7px);
    transform: translatex(-7px);
    transition: 1s;
    cursor: pointer;
    box-shadow: black 10px 10px 15px -10px;
    background-color: #d9dad7;
}

.icons {
    padding: 0px;
    margin-top: -10px;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
}

@media (max-width: 500px) {
  .ButtonBox {
      width: 100px;
      height: 460px;
      margin-left: 435px;
      margin-top: 60px;
  }

  .buttons {
      width: 80px;
      margin-right: 12px;
      font-size: 8px;
  }

}

