.picButtons {
    border-style: none;
    background-color: #ffffff;
    padding: 8px;
    color: #1a2639;
    font-weight: bolder;
    font-size: large;
    border-radius: 5px;
    cursor: pointer;
    border: #3e4a61 solid 2px;
    margin: 5px;
}


.picButtons:hover {
  background-color: #d27157;
  color:#1a2639;
  border: none;
  transition: .8s;
}

.cardslides {
    min-width: 350px;
    min-height: 520px;
    margin-right: -275px;
}

@media (max-width: 600px) {
    .cardslides {
        margin-top: -550px;
        margin-left: -730px;
        width: 350px;
    }
}