.MainPage_Container {
    width: 1230px;
    height: 500px;
    background-image: linear-gradient(#d9dad7, rgb(255, 255, 255));
    border-radius: 10px;
    display: flex;
    justify-content: center;
    margin-left: auto;
    margin-right: auto;
    align-items: center;
    margin-top: 25px;
}

.landing {
    width: 1230px;
    height: 625px;
    /* background-image: linear-gradient(rgb(187, 203, 216), rgb(107, 114, 126)); */
    background-color:#d9dad7;
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin-left: auto;
    margin-right: auto;
    margin-top: 25px;
    border-radius: 10px;
}

.headContainer {
    display: flex;
    flex-direction: column;
    width: 120px;
    height: 1200px;
}

.textContainer {
    margin-left: -300px;
    margin-right: 150px;
    min-width: 600px;
    max-width: 600px;
    max-height: 400px;
}

.TEXT {
    background-color: #d27157;
    padding:25px;
    width: 600px;
    border-radius: 10px;
    text-align: center;
    color:#1a2639;
    box-shadow: black 0px 0px 20px -10px;
}

.projectandskills {
    width: 600px;
    background-color: #1a2639;
    font-size: larger;
    line-height: 35px;
    box-shadow: black 0px 0px 20px -10px;
    border-radius: 10px;
    color: white;
    padding: 20px;
}

@media (max-width: 600px) {
  .landing {
      max-width: 110%;
  }
  .MainPage_Container {
      max-width: 110%;
      height: 1100px;
      background-image: linear-gradient(#d9dad7, #d9dad7, rgb(255, 255, 255), rgb(255, 255, 255));
  }

  .projectandskills {
      font-size: smaller;
      width: 350px;
      height: 270px;
      margin-top: 460px;
      margin-left: 20px;
      line-height: 1.75;
      position: relative;
      z-index: 1;
  }

  .TEXT {
      margin-left: 20px;
      margin-top: -320px;
      font-size: large;
      padding: 10px;
      width: 350px;
  }

  .SkillsWrapped {
      margin-top: 90px;
      margin-bottom: 250px;
  }
}