.SkillsContainer {
    width: 1230px;
    height: 225px;
    background-image: linear-gradient(rgb(255, 255, 255) 88%, rgb(255, 255, 255));
    flex-direction: row;
    justify-content: center;
    margin-left: auto;
    margin-right: auto;
    margin-top: 25px;
    border-radius: 10px;
    overflow: hidden;
}

.skillOutline {
    display: flex;
    place-items: center;
    min-height: 100vh;
    margin-top: -210px;
}

.slideContainer {
    height: 150px;
    margin: auto;
    position: relative;
    width: 100%;
    display: grid;
    place-items: center;
    overflow: hidden;
}

.slideTrack {
    display: flex;
    width: calc(250px * 24);
    animation: play 90s linear infinite;
    margin-top: -40px;
    background-color: white;
}

@keyframes play {
    0% {
        transform: translateX(0);
    }
    100% {
        transform: translateX(calc(-150px * 12));
    }
}

.slides {
    width: 150px;
    height: 200px;
    padding: 15px;
    display: flex;
    align-items: center;
    perspective: 100px;
    overflow: hidden;
}

img {
    width: 80%;
    transition: transform 1s;
}

img:hover {
    transform: translateZ(20px);
}

.slideContainer::before,
.slideContainer::after {
    background: linear-gradient(to right, rgba(255,255,255,1) 0%,
    rgba(255,255,255,0) 100%);
    content: '';
    height: 100%;
    position: absolute;
    width: 15%;
    z-index: 2;
}

.slideContainer::before {
    left: 0;
    top: 0;
}

.slideContainer::after {
    right: 0;
    margin-left: 1px;
    top: 0;
    transform: rotateZ(180deg);
}

