@import url('https://fonts.googleapis.com/css2?family=Bungee+Shade&display=swap');



.backgroundpic{
    width: 360px;
    height: 245px;
    background-color: rgb(235, 235, 235);
    border-radius: 10px;
    margin-top: 50px;
    margin-left: 75px;
    position: relative;
}

.photo {
    margin-top: 15px;
    width: 220px;
    height: 220px;
    float: left;
    margin-left: 70px;
    border-radius: 150px;
}
 
.text {
  font-family: "Bungee Shade";
  font-size: 70px;
  float: left;
  margin-left: 75px;
  color: rgb(35, 35, 35);
  margin-top: 50px;
}
