svg {
	font-family: 'Russo One', sans-serif;
	width: 100%; height: 100%;
}
svg text {
	text-transform: uppercase;
	animation: stroke 12s infinite;
	stroke-width: 10;
	stroke: #ff6f6f;
	font-size: 80px;
}
@keyframes stroke {
	100%   {
		fill: rgba(72,138,20,0); stroke: #ff6f6f;
		stroke-dashoffset: 75%; stroke-dasharray: 0 70%; stroke-width: 2;
	}
	0%  {fill: rgba(72,138,20,0); stroke: #ff6f6f; }
	0%  {fill: rgba(72,138,20,0); stroke: #ff6f6f; stroke-width: 3; }
	0% {
		fill: #ff6f6f; stroke: rgba(54,95,160,0); 
		stroke-dashoffset: -25%; stroke-dasharray: 50% 0; stroke-width: 0;
	}
}