@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+JP:wght@400;700&display=swap');

* {
  box-sizing: border-box;
}

html {
  margin: 0;
  font-family: 'Noto Sans JP', sans-serif;
}

body {
  padding: 0;
  margin: 0;
  background-color: #ffffff;
  width: 100%;
  height: auto;
}

@media (max-width:600px) {
  body {
    overflow-x: hidden;
    overflow-y: scroll;
  }
}



